<aside>
  <div class="c-sidebar__panel u-mb--0">
    <div class="c-sidebar__content">
      <a data-toggle="modal" href="#myModal">
        <span class="e-anchor--enlarge u-abs--tl">Enlarge</span>
        <img src="/images/about-map.jpg" alt="">
      </a>

      <div id="myModal" class="modal c-modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog c-modal__dialog" role="document">
          <div class="modal-content c-modal__content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Ballance Location</strong>
            </div>
            <div class="modal-body">
              <img src="/images/about-map.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <hr />

      <h3 class="c-sidebar__title">Ballance Service and Supply centres are conveniently located throughout the country.</h3>
      <p>We cover the country, with one-on-one specialist advice on farm backed up by a network of rural merchant supply partners, service centres, consignment stores, manufacturing sites and our own agricultural aviation services.</p>
      <a href="#" class="o-btn o-btn--normal">Locate a Service Centre</a>
    </div>
  </div>
</aside>
