<div class="panel c-accordion u-mt--2">
  <a class="c-accordion__title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Bagging
    Options</a>
  <div id="collapse2" class="collapse">
    <div class="c-accordion__body">
      <ul>
        <li class="u-mt--0">SustaiN is available in bagged and bulk form.</li>
        <li>Some blends may require processing time, especially if bagged product is required.</li>
        <li>To avoid disappointment, please check when placing your order.</li>
      </ul>

      <table class="o-table o-table--responsive">
        <thead>
          <tr>
            <th>Bagged fertiliser</th>
            <th>Price (bag &amp; fill)</th>
            <th>Price (bag &amp; fill)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1000kg single-trip bags</td>
            <td>1000kg single-trip bags</td>
            <td>$20 per bag</td>
          </tr>
          <tr>
            <td>500kg single-trip bags</td>
            <td>500kg single-trip bags</td>
            <td>$20 per bag</td>
          </tr>
          <tr>
            <td>Poly liners (500kg &amp; 1000kg bags)</td>
            <td>Poly liners (500kg &amp; 1000kg bags)</td>
            <td>$10 per bag</td>
          </tr>
          <tr>
            <td>25k bags (free ﬁll)</td>
            <td>25k bags (free ﬁll)</td>
            <td>$80 per tonne</td>
          </tr>
          <tr>
            <td>40kg bags (free ﬁll)</td>
            <td>40kg bags (free ﬁll)</td>
            <td>$60 per tonne</td>
          </tr>
        </tbody>
      </table>

      <h5>Other bag sizes</h5>
      <ul>
        <li>Premiums apply. Please contact Customer Services for details.</li>
        <li>Please allow a minimum of three days for bagging on non-standard product lines.</li>
        <li>Ballance is offering a free service of reclamation for used bags and customers are invited to return their empties (in a clean condition) to their nearest Service Centre for recycling.</li>
      </ul>
    </div>
  </div>
</div>
