
<ul class="hidden-xs c-social">
  <li>
    <div class="c-social__title">
      Share
    </div>
  </li>
  <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li><a href="http://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  <li><a href="http://linkedin.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
  <li><a href="http://linkedin.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
  <li><a href="http://linkedin.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
</ul>
