{%
  set footers = [
    {
      'footer':
        '<footer class="c-content__footer">
          <h5>Further Info / Get in Touch</h5>
          <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur </p>
          <a href="#" class="o-btn o-btn--normal">Action Link</a>
          <a href="#" class="o-btn o-btn--normal">Action Link</a>
          <a href="#" class="o-btn o-btn--ghost">Secondary Link</a>

          <p class="e-paragraph--less">em ipsum dolor sit amet, cem ipsum dolor sit amet, cem ipsum dolor sit amet, cem ipsum dolor sit amet, cem ipsum dolor sit amet, cem ipsum dolor sit amet, c</p>

          <a href="#" class="e-anchor--arrow e-anchor--block">Find out more</a>
        </footer>'
    }, {
      'footer':
        '<footer class="c-content__footer">
          <h5>Enjoy this article?</h5>
          <p>If you found this article interesting and would like to discuss one of our products, feel free to contact one of our Nutrient Specialists or Customer Service team:</p>
          <a href="#" class="o-btn o-btn--normal o-btn--small">Contact a nutrient specialist</a>
          <a href="#" class="o-btn o-btn--normal o-btn--small">Email customer service</a>
          <p><strong>Phone: 0800 222 090</strong></p>
        </footer>'
    }
  ]
%}
