<div class="panel c-accordion u-mt--2">
  <a class="c-accordion__title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Full product range</a>
  <div id="collapse1" class="collapse in">
    <div class="c-accordion__body">
      <table class="o-table o-table--responsive">
        <thead>
          <tr>
            <th style="width: 200px">Products</th>
            <th>N</th>
            <th>P</th>
            <th>K</th>
            <th>S</th>
            <th>Mg</th>
            <th>Ca</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SustaiN</td>
            <td>45.90</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN 15K</td>
            <td>32.1</td>
            <td>-</td>
            <td>15</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN 20K</td>
            <td>27.5</td>
            <td>-</td>
            <td>20</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN 25K</td>
            <td>23</td>
            <td>-</td>
            <td>25</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN S Boost</td>
            <td>39.7</td>
            <td>-</td>
            <td>-</td>
            <td>8.6</td>
            <td>-</td>
            <td>1.7</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN Ammo 30N</td>
            <td>29.8</td>
            <td>-</td>
            <td>-</td>
            <td>13.7</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <td>SustaiN Ammo 36N</td>
            <td>254</td>
            <td>-</td>
            <td>-</td>
            <td>8</td>
            <td>-</td>
            <td>-</td>
            <td><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>

      <h5>Related Documents</h5>
      <ul class="c-list c-list--typed c-list--2">
        <li class="pdf"><a href="#">SustaiN</a></li>
        <li class="pdf"><a href="#">SustaiN S Boost</a></li>
        <li class="pdf"><a href="#">SustaiN 15K</a></li>
        <li class="pdf"><a href="#">SustaiN Ammo 30N</a></li>
        <li class="pdf"><a href="#">SustaiN 20K</a></li>
        <li class="pdf"><a href="#">SustaiN Ammo 36N</a></li>
        <li class="pdf"><a href="#">SustaiN 25K</a></li>
        <li class="pdf"><a href="#">Muriate of Potash</a></li>
      </ul>

      <p class="u-txt--secondary">* In the case of a blended product, please refer to the safety sheets of the individual products being blended.</p>
    </div>
  </div>
</div>
