<div class="panel c-accordion u-mt--2">
  <a class="c-accordion__title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
    Usage &amp; Safety
  </a>
  <div id="collapse3" class="collapse">
    <div class="c-accordion__body">
      <ul>
        <li class="u-mt--0">SustaiN is most frequently used alone, but can be blended with certain other fertilisers.</li>
        <li>SustaiN is compatible with potash.</li>
        <li>SustaiN should not be mixed with Sulphurgain, Pasturezeal G2 or Superten. These mixes are at risk of becoming wet and lumpy, which will result in poor spreading and problems for spreading equipment.</li>
        <li>SustaiN should be stored in cool, dry conditions. Exposure to moisture, e.g. rain, puddles, high humidity, will </li>
      </ul>
    </div>
  </div>
</div>
