<div class="c-sidebar__panel">
  <div class="c-sidebar__content">

    {% from "data/content-navigation.njk" import content_navs %}
    {% set content_nav = content_navs[1] %}
    {% include "includes/partials/content-navigation.njk" %}
  </div>
</div>

<div class="c-sidebar__panel">
  <div class="c-sidebar__image">
    <img src="/images/generic-content-1.jpg" alt="">
  </div>
</div>
