<section class="c-content">
  <h2>Page of Article Title</h2>
  <p class="c-content__intro">
    Intro copy, Lorem ipsum dolor Intro copy, Lorem ipsum dolor Intro copy, Lorem ipsum dolor Intro copy, Lorem ipsum dolor
  </p>

  <aside class="c-content__sidebar hidden-md hidden-lg">
    {% include "includes/components/content-aside.njk" %}
  </aside>

  <blockquote>
    <span>“Quote, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</span>
  </blockquote>

  <p>Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor Regular body copy, Lorem ipsum dolor </p>

  <h3>Section Header</h3>

  <p>Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
  <p>Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
  <p>Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
  <p>Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
  <p>Expanding copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>


  <h5>Text Heading</h5>

  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
    <li>Sed dao eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </li>
  </ul>

  <ol class="c-list c-list--checked">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
    <li>Sed dao eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </li>
  </ol>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
    <li>Sed dao eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nolla pariatur. </li>
  </ol>

  <div class="row">
    <div class="col-xs-12">
      <img src="/images/generic-content-1.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6">
      <img src="/images/generic-content-1.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6">
      <img src="/images/generic-content-1.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6">
      <img src="/images/generic-content-1.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur </p>
      <p>Lorem ipsumsum dolor sit amet, consectetur </p>
      <a href="#" class="e-anchor--arrow e-anchor--block">Find out more</a>
    </div>
  </div>

  <div class="c-well">
    <h5>Important Documents</h5>
    <ul class="c-list c-list--typed c-list--2">
      <li class="pdf"><a href="#">Document Name &amp; file type icon</a></li>
      <li class="jpg"><a href="#">Document Name &amp; file type icon</a></li>
      <li class="gif"><a href="#">Document Name &amp; file type icon</a></li>
      <li class="doc"><a href="#">Document Name &amp; file type icon</a></li>
      <li class=""><a href="#">Document Name &amp; file type icon</a></li>
    </ul>
  </div>

  <div class="c-well">
    <h5>Important Documents</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 u-mt--0">
        <img src="images/generic-content-1.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>adipiscingt elit, sed do eiusmod tempor adipiscingt elit, sed do eiusmod tempor adipiscingt elit, sed do eiusmod tempor </p>
        <ul class="c-list c-list--typed">
          <li class="pdf"><a href="#">Document Name &amp; file type icon</a></li>
          <li class="jpg"><a href="#">Document Name &amp; file type icon</a></li>
          <li class="gif"><a href="#">Document Name &amp; file type icon</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-groupx" id="accordion">
    <div class="panel c-accordion">
      <a class="c-accordion__title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
      <div id="collapse1" class="collapse in">
        <div class="c-accordion__body">
          <table class="o-table o-table--responsive">
            <thead>
              <tr>
                <th style="width: 200px">Products</th>
                <th>N</th>
                <th>P</th>
                <th>K</th>
                <th>S</th>
                <th>Mg</th>
                <th>Ca</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SustaiN</td>
                <td>45.90</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN 15K</td>
                <td>32.1</td>
                <td>-</td>
                <td>15</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN 20K</td>
                <td>27.5</td>
                <td>-</td>
                <td>20</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN 25K</td>
                <td>23</td>
                <td>-</td>
                <td>25</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN S Boost</td>
                <td>39.7</td>
                <td>-</td>
                <td>-</td>
                <td>8.6</td>
                <td>-</td>
                <td>1.7</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN Ammo 30N</td>
                <td>29.8</td>
                <td>-</td>
                <td>-</td>
                <td>13.7</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr>
                <td>SustaiN Ammo 36N</td>
                <td>254</td>
                <td>-</td>
                <td>-</td>
                <td>8</td>
                <td>-</td>
                <td>-</td>
                <td><a href="#">View</a></td>
              </tr>
            </tbody>
          </table>

          <h5>Related Documents</h5>
          <ul class="c-list c-list--typed c-list--2">
            <li class="pdf"><a href="#">Document Name &amp; file type icon</a></li>
            <li class="jpg"><a href="#">Document Name &amp; file type icon</a></li>
            <li class="gif"><a href="#">Document Name &amp; file type icon</a></li>
            <li class="gif"><a href="#">Document Name &amp; file type icon</a></li>
          </ul>
          <p class="u-mt--5">
            Regular body copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Regular body copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Regular body copy, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          </p>
          <h5>Text Heading</h5>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel c-accordion">
      <a class="c-accordion__title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 1</a>
      <div id="collapse2" class="collapse">
        <div class="c-accordion__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="panel c-accordion">
      <a class="c-accordion__title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 1</a>
      <div id="collapse3" class="collapse">
        <div class="c-accordion__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>

  {% from "includes/partials/content-footer.njk" import footers %}
  {{ footers[0].footer | safe }}



  <h2>Related / External Brands</h2>
  <p class="c-content__intro">Lorp ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tppor:</p>
  <div class="row">
    {% from "data/brands.njk" import brands %}
    {% for article in brands %}
      <div class="col-xs-12 col-sm-6">
        {% include "includes/partials/article-brands.njk" %}
      </div>
    {% endfor %}
  </div>

</section>
