<footer class="c-footer">
  <div class="container">
    <div class="row c-footer__nav">
      <div class="c-footer__nav-block col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <a href="#" class="c-footer__nav-link">
              <div class="c-footer__nav-icon">
                <img src="/images/footer-nav1.png" alt="Login/Sign Up">
              </div>
              <div class="c-footer__nav-text">Login / Sign Up</div>
            </a>
          </div>
          <div class="col-md-12 col-lg-6">
          <a href="#" class="c-footer__nav-link">
            <div class="c-footer__nav-icon">
              <img src="/images/footer-nav2.png" alt="Locate Nearest Service Centre">
            </div>
            <div class="c-footer__nav-text">Locate Your Nearest Service Centre</div>
          </a>
          </div>
        </div>
      </div>
      <div class="c-footer__nav-block col-md-12 col-lg-4">
        <a href="#" class="c-footer__nav-link">
          <div class="c-footer__nav-icon">
            <img src="/images/footer-nav3.png" alt="Find a Nutrient Specialist">
          </div>
          <div class="c-footer__nav-text">Find a Nutrient Specialist</div>
        </a>
      </div>
    </div>
  </div>

  <div class="c-footer__container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 c-footer__logo">
          <img src="/images/logo.png" alt="Ballance">
          <div class="c-footer__logo-tag">Ballance Tag Line Here</div>

          <div class="hidden-xs c-footer__closure">
            <ul class="c-social c-social--dark">
              <li><a href="http://facebook.com" class="facebook">facebook</a></li>
              <li><a href="http://linkedin.com" class="linkedin">linkedin</a></li>
              <li><a href="http://youtube.com" class="youtube">youtube</a></li>
            </ul>
            <p>&copy; 2017 Ballance Agri-Nutrients Ltd.</p>
            <p>All rights reserved.</p>
          </div>

        </div>
        <div class="col-xs-12 col-sm-3 col-lg-4 c-footer__links">
          <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-4 c-footer__details">
          <div class="c-footer__details-phones">
            <span class="c-footer__title">Customer Service</span>
            <span class=""><a href="tel:0800-222-090">0800 222 090</a></span>
          </div>
          <div class="c-footer__details-phones">
            <span class="c-footer__title">Shareholder Enquiries</span>
            <span class=""><a href="tel:0800-267-266">0800 267 266</a></span>
          </div>
          <p class="c-footer__email"><a href="mailto:email@email.com">Email Us</a></p>
          <div class="c-footer__address">
            <p>Ballance Agri-Nutrients Limited</p>
            <p>Hewletts Road</p>
            <p>Mount Maunganui, Tauranga</p>
            <p>New Zealand</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 c-footer__closure visible-xs">
          <ul class="c-social c-social--dark">
            <li><a href="http://facebook.com" class="facebook">facebook</a></li>
            <li><a href="http://linkedin.com" class="linkedin">linkedin</a></li>
            <li><a href="http://youtube.com" class="youtube">youtube</a></li>
          </ul>
          <p>&copy; 2017 Ballance Agri-Nutrients Ltd.</p>
          <p>All rights reserved.</p>
        </div>

      </div>
    </div>
  </div>
</footer>
