<div class="c-hero">
  <div class="owl-carousel owl-theme c-carousel">

    <div class="c-carousel__slide" style="background-image: url('/images/hero1.jpg')">
      <img src="/images/hero1.jpg" class="c-carousel__img" alt="">
      <div class="c-carousel__info match-height">
        <div class="c-carousel__text">
          <h2 class="c-carousel__heading">Our new mapping tool removes the guesswork</h2>
          <p>With our advanced new Mapping Tool, we can help take out the guesswork from your next fertiliser drop.</p>
          <a href="#" class="o-btn o-btn--normal">find out more</a>
        </div>
      </div>
    </div>

    <div class="c-carousel__slide" style="background-image: url('/images/hero1.jpg')">
      <img src="/images/hero1.jpg" class="c-carousel__img" alt="">
      <div class="c-carousel__info match-height">
        <div class="c-carousel__text">
          <h2 class="c-carousel__heading">Our new mapping tool removes the guesswork</h2>
          <p>With our advanced new Mapping Tool, we can help take out the guesswork from your next fertiliser drop.</p>
          <a href="#" class="o-btn o-btn--normal">find out more</a>
        </div>
      </div>
    </div>

    <div class="c-carousel__slide" style="background-image: url('/images/hero2.jpg')">
      <img src="/images/hero2.jpg" class="c-carousel__img" alt="">
      <div class="c-carousel__info match-height">
        <div class="c-carousel__text">
          <h2 class="c-carousel__heading">Our new mapping tool removes the guesswork</h2>
          <p>With our advanced new Mapping Tool, we can help take out the guesswork from your next fertiliser drop.</p>
          <a href="#" class="o-btn o-btn--normal">find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>
