<div id="nav-desktop" class="c-menu">
  <div class="c-menu__btns">
    <ul class="">
      <li class="visible-xs">
        <a href="#" class="c-menu__btns-icon" toggle-target="nav-mobile">Menu</a>
      </li>
      <li class="hidden-xs">
        <a href="#" class="c-menu__btns-icon" toggle-target="nav-desktop">Menu</a>
      </li>
      <li>
        <a href="#" class="c-menu__btns-icon" toggle-target="nav-search">Search</a>
      </li>
      <li>
        <a href="#" class="c-menu__btns-icon" toggle-target="nav-login">Login</a>
      </li>
    </ul>
    <div class="c-header__logo visible-xs">
      <a href="index.html">
        <img src="/images/logo.png" alt="">
      </a>
    </div>
  </div>

  <div class="c-menu__content">
    <div id="nav-search" class="c-search">
      <form class="c-search__form">
        <div class="input-group c-search__input">
          <label for="menu-search" class=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
          <input id="menu-search" type="search" class="" placeholder="Search Ballance">
        </div>

        <div class="input-group c-search__submit">
          <button type="submit" class="o-btn o-btn--normal">Search</button>
        </div>
      </form>
    </div>

    <div class="nav-login" class="c-menu__login">
      <!-- Login Page -->
    </div>

    <nav id="nav-mobile" class="c-menu__nav">
      <ul class="c-menu__nav-primary c-menu__nav-tier1">
        <li><a href="#" toggle-target="menuGeneric">Generic</a>
          <ul id="menuGeneric" class="c-menu__nav-tier2">
            <li><a href="generic-index.html">Generic Index</a></li>
            <li><a href="generic-content.html">Generic Content</a></li>
          </ul>
        </li>
        <li>
          <a href="#" toggle-target="menuNews">News</a>
          <ul id="menuNews" class="c-menu__nav-tier2">
            <li><a href="news.html">News Index</a></li>
            <li><a href="news-article.html">News Article</a></li>
          </ul>
        </li>
        <li>
          <a href="#" toggle-target="menuPeople">Our People</a>
          <ul id="menuPeople" class="c-menu__nav-tier2">
            <li><a href="people.html">Sales Staff</a></li>
            <li>
              <a href="#" toggle-target="distribution_team">Distribution Team</a>
              <ul id="distribution_team" class="c-menu__nav-tier3">
                <li><a href="#">North Island</a></li>
                <li><a href="#">South Island</a></li>
              </ul>
            </li>
            <li><a href="#">Leadership Team</a></li>
            <li><a href="#">Directors</a></li>
          </ul>
        </li>
        <li>
          <a href="#" toggle-target="menuProducts">Products</a>
          <ul id="menuProducts" class="c-menu__nav-tier2">
            <li><a href="product.html">Product Index</a></li>
            <li><a href="product-detail.html">Product Detail</a></li>
          </ul>
        </li>
        <li><a href="job-index.html">Jobs</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <ul class="c-menu__nav-secondary">
        <li><a href="#"><img src="/images/ballance-icon-1.png" alt="">Find a Nutrient Specialist</a></li>
        <li><a href="#"><img src="/images/ballance-icon-2.png" alt="">Store Locator</a></li>
        <li><a href="#"><img src="/images/ballance-icon-3.png" alt="">Login / Sign Up</a></li>
      </ul>
    </nav>
  </div>

</div>
