<aside class="c-sidebar">

  <div class="hidden-xs hidden-sm c-sidebar__secondary">
    {% include "includes/components/content-aside.njk" %}
  </div>

  <div class="c-sidebar__primary">
    <h2 class="e-heading--alt">Related Products</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="c-sidebar__panel">
          <div class="c-sidebar__content">
            <div class="c-sidebar__brand u-split">
              <div class=""><img src="/images/brand2.jpg" alt="Spread Smart Technology"></div>
              <div class=""><strong>Brand Name</strong></div>
            </div>
            <p>m dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur a</p>
            <a href="#" class="o-btn o-btn--normal o-btn--small o-btn--block">Product Details</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="c-sidebar__panel">
          <div class="c-sidebar__content">
            <div class="c-sidebar__brand u-split">
              <div class=""><img src="/images/brand2.jpg" alt="Spread Smart Technology"></div>
              <div class=""><strong>Brand Name</strong></div>
            </div>
            <p>m dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur a</p>
            <a href="#" class="o-btn o-btn--normal o-btn--small o-btn--block">Product Details</a>
          </div>
        </div>
      </div>

      <hr class="hidden-md hidden-lg">

      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="c-sidebar__panel">
          <div class="c-sidebar__image">
            <img src="/images/generic-content-1.jpg" alt="">
          </div>
          <div class="c-sidebar__content">
            <h3 class="c-sidebar__title">Lorem ipsum dolor sit amet</h3>
            <p>m dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur a</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur </li>
              <li>Lorem ipsum dolor sit amet, co</li>
            </ul>
            <a href="#" class="o-btn o-btn--normal o-btn--small">Action Button</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="c-sidebar__panel">
          <div class="c-sidebar__image">
            <img src="/images/generic-content-1.jpg" alt="">
          </div>
          <div class="c-sidebar__content">
            <h3 class="c-sidebar__title">Lorem ipsum dolor sit amet</h3>
            <p>m dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur a</p>
            <a href="#" class="e-anchor--arrow e-anchor--block">Find Out More</a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="c-sidebar__panel">
          <div class="c-sidebar__content">
            <h2 class="e-heading--alt">Get in touch / require help</h2>
            <p>m dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur am dolor sit amet, consectetur a</p>
            <p><a href="#">Text Link 1</a></p>
            <p><a href="#">Text Link 2</a></p>
            <p><a href="#">Text Link 3</a></p>
            <a href="#" class="o-btn o-btn--normal">Find Out More</a>
            <p><strong>Phone: 0800 222 090</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</aside>
