<div class="c-slide-in">
  <a href="#" class="c-slide-in__close"></a>
  <div class="c-plan">
    <div class="c-plan__header">
      <p class="u-txt--warning u-txt__icon--alert">Due in 7 days</p>
      <h2 class="c-plan__title">Recommendation 2</h2>
      <div class="u-txt--secondary">Ordered 7 August 2016</div>
      <div class="u-txt--secondary">Harris Hill Farm</div>
    </div>

    <div class="c-plan__body">
      <div>
        <small class="u-txt--secondary hidden-xs">Blocks</small>
        <div class="">5 blocks (248 Ha) <a href="#">Map</a></div>
      </div>

      <div class="u-mt--1">
        <small class="u-txt--secondary hidden-xs">Billed &amp; Delivered to</small>
        <div class="">PCJ and RC Gamble</div>
      </div>

      <div class="u-mt--1">
        <small class="u-txt--secondary hidden-xs">Merchant</small>
        <div class="">Merchant Name</div>
      </div>

      <hr />

      75% complete
      <div class="c-progress animated"><span class="c-progress__bar" data-percentage="80"></span></div>

      <table class="u-txt--secondary">
        <thead>
          <tr>
            <th>SustaiN</th>
            <th>$30,000.00</th>
          </tr>
        </thead>
        <tr>
          <td>Top app rate / Ha</td>
          <td>300,000</td>
        </tr>
        <tr>
          <td>Total tonnes</td>
          <td>30,000</td>
        </tr>
        <tr>
          <td>Dispatched</td>
          <td>23.09.16</td>
        </tr>
      </table>
      <div class="u-txt--success text-right">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </div>

      <hr />

      <table>
        <thead>
          <tr>
            <th>SustaiN</th>
            <th>$10,000.00</th>
          </tr>
        </thead>
        <tr>
          <td>Top app rate / Ha</td>
          <td>300,000</td>
        </tr>
        <tr>
          <td>Total tonnes</td>
          <td>30,000</td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>bulk</td>
        </tr>
      </table>
      <div class="text-right">
        <i class="u-txt--link fa fa-pencil u-mr--2" aria-hidden="true"></i>
        <i class="u-txt--danger fa fa-minus-circle" aria-hidden="true"></i>
      </div>

      <hr />

      <table>
        <tr>
          <td>Cost of Product</td>
          <td>$639.17</td>
        </tr>
        <tr>
          <td>Cost of Ha</td>
          <td>$191.75</td>
        </tr>
      </table>

      <hr />

      <table>
        <tr>
          <th>Freight / Store Charges</th>
          <th>$100.00</th>
        </tr>
      </table>

      <hr />

      <table>
        <tr>
          <th>Pallet - Blue</th>
          <th>$50.00</th>
        </tr>
      </table>
      <small>Quantity: 5 each</small>

      <hr />

      <p class="c-plan__total">$30,670.00</p>
    </div>
    <div class="c-plan__footer">
      <div class="u-split">
        <a href="#" class="o-btn o-btn--ghost">Cancel Order</a>
        <a href="#" class="o-btn o-btn--normal">Edit</a>
      </div>
    </div>
  </div>
</div>
