<section id="news">
  <div class="container">
    <h2 class="e-heading--alt">News &amp; Advice</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="c-article">
          <a href="#">
            <div class="c-article__img" style="background-image: url(/images/news1.jpg)">
              <div class="c-article__img-tag">Key Product</div>
            </div>
            <div class="c-article__body">
              <div class="c-article__date">01 December 2016</div>
              <div class="match-height">
                <h3 class="c-article__title">Calculate your SustaiN gain to save big time</h3>
                <p class="c-article__desc">
                  SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser…
                  SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser…
                </p>
              </div>
            </div>
          </a>
          <div class="c-article__footer">
            <a href="#" class="e-anchor--arrow">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="c-article">
          <a href="http://google.com">
            <div class="c-article__img" style="background-image: url(/images/news2.jpg)">
              <div class="c-article__img-tag">Key Product</div>
            </div>
            <div class="c-article__body">
              <div class="c-article__date"></div> <!--Display date no matter what. If no date leave blank like this-->
              <div class="match-height">
                <h3 class="c-article__title">Calculate your SustaiN gain to save big time</h3>
                <p class="c-article__desc">
                  SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser…
                </p>
              </div>
            </div>
          </a>
          <div class="c-article__footer">
            <a href="#" class="e-anchor--arrow">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4 visible-lg">
        <div class="c-article">
          <a href="#">
            <div class="c-article__img" style="background-image: url(/images/news3.jpg)">
              <div class="c-article__img-tag">Key Product</div>
            </div>
            <div class="c-article__body">
              <div class="c-article__date">01 December 2016</div>
              <div class="match-height">
                <h3 class="c-article__title">SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser… Calculate your SustaiN gain to save big time</h3>
                <p class="c-article__desc">
                  SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser…
                </p>
              </div>
            </div>
          </a>
          <div class="c-article__footer">
            <a href="#" class="e-anchor--arrow">Read More</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
