<section id="products">
  <div class="container">
    <h2 class="e-heading--alt">Product &amp; Services</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <div class="c-article c-article--border">
          <a href="http://google.com">
            <div class="c-article__img" style="background-image: url(/images/product1.jpg)">
              <div class="c-article__img-tag">Key Product</div>
            </div>
            <div class="c-article__body">
              <div class="match-height">
                <h3 class="c-article__title">Calculate your SustaiN gain to save big time</h3>
                <p class="c-article__desc">
                  SustaiN is a unique nitrogen fertiliser that is created by coating urea granules with AGROTAIN® nitrogen stabiliser…
                </p>
              </div>
              <div class="c-article__brand-more">
                <button class="c-article__button">Find Out More</button>
                <div class="c-article__brand">
                    <img src="/images/brand1.jpg" alt="">
                </div>
              </div>
            </div>
          </a>
          <div class="c-article__footer">
            <a href="#" class="e-anchor--arrow">View all key products</a>
          </div>
        </div>


      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="c-article c-article--border">
          <a href="http://apple.com">
            <div class="c-article__img" style="background-image: url(/images/product2.jpg)">
              <div class="c-article__img-tag">Key Service</div>
            </div>
            <div class="c-article__body">
              <div class="match-height">
                <h3 class="c-article__title">What is Spreadsmart Technology. What is Spreadsmart Technology. What is Spreadsmart Technology</h3>
                <p class="c-article__desc">
                  All Super Air planes are ﬁtted with GPS guidance systems. These systems allow an aircraft to receive 10 signals per second from up to 25 satellites… All Super Air planes are ﬁtted with GPS guidance systems. These systems allow an aircraft to receive 10 signals per second from up to 25 satellites…
                </p>
              </div>
              <div class="c-article__brand-more">
                <button class="c-article__button">Find Out More</button>
                <div class="c-article__brand"><!--empty--></div>
              </div>
            </div>
          </a>
          <div class="c-article__footer">
            <a href="#" class="e-anchor--arrow">View all key products</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
